[
 ["Напиток из черной смородины", 84, 0, 0, 21],
 ["Омлет с запеченными томатами", 186, 11, 14, 3],
 ["Овсяная каша с запеченным яблоком и корицей", 353, 9.6, 4.8, 69],
 ["Свекла с запеченным баклажаном и микс салатом", 185, 3, 11, 17],
 ["Говядина томленая в томатном соусе с пряными травами", 379, 38, 18, 11],
 ["Барли с запеченными томатами и зеленью", 249, 7, 3, 46],
 ["Филе индейки запеченное с розмарином, с брусничным соусом", 238, 35, 4, 13],
 ["Рис басмати с овощным тартаром", 230, 3, 3, 43],
 ["Гречка с орехами и зеленью", 264, 7, 10, 37],
 ["Брокколи на пару с орехами кешью", 110, 5.56, 5, 13],
 ["Куриная грудка с копченым тофу, стручковым горошком и кунжутом", 318, 45, 12, 5],
 ["Филе атлантической трески с соусом маринара и припущенной кенийской фасолью", 238, 28, 10, 9],
 ["Спагетти с томатами и зеленью", 240, 8, 3, 45],
 ["Брокколи на пару с орехами", 110, 5.56, 5, 13],
 ["Куриное филе-гриль в медовом маринаде", 207, 34, 5, 4],
 ["Кефир", 122, 7, 6, 10],
 ["Рассыпчатый творог с яблочным чатни", 224, 25, 4, 22],
 ["Каша из булгура с финиками", 302, 7, 2, 64],
 ["Яблочно-клюквенный мусс", 140, 1, 0, 35],
 ["Салат с марокканским осьминогом, припущенной морковью, сельдереем, мини-картофелем, черри и салатом руккола", 305, 13.5, 20, 11],
 ["Суп-пюре из зеленой спаржи", 167, 2, 8, 17],
 ["Фрикасе из куриного филе с розмариновым соусом", 258, 34, 12, 6],
 ["Филе хека на пару, с соусом сальса верде", 176, 25, 6, 8],
 ["Кус-кус с огурцами и зеленью", 235, 6, 3, 43],
 ["Фрикасе из куриного филе с розмариновым соусом", 242, 34, 12, 2],
 ["Рис басмати", 237, 3, 3, 40],
 ["Спагетти с соусом болоньезе", 515, 34, 15, 42],
 ["Куриные биточки с финиками и розмариновым соусом", 309, 36, 12, 11],
 ["Булгур с овощным тартаром", 234, 6, 5, 38],
 ["Фрикадельки из говядины с томатным соусом", 238, 34, 8, 4],
 ["Булгур с овощным тартаром", 234, 6, 5, 40],
 ["Рис басмати с овощным тартаром", 240, 3, 3, 45],
 ["Черный чай с лепестками граната", 71, 0, 0, 18],
 ["Бельгийские вафли с черничным вареньем и запеченным яблоком", 451, 9, 13, 70],
 ["Пшенная каша с изюмом, вяленой клюквой и миндалем", 312, 8, 5, 67],
 ["Салат из кабачков с мятой и грушей", 210, 2, 15, 15],
 ["Тушеная говядина с томатами и черносливом", 301, 38, 10, 27],
 ["Гречка с грибами и зеленью", 230, 8, 2, 43],
 ["Филе атлантической трески приготовленное на пару, с брюссельской капустой", 133, 20, 2, 7],
 ["Булгур с лимонным соком и зеленью", 231, 7, 3, 45],
 ["Отварные феттучини", 242, 8.4, 4, 42],
 ["Кебаб из курицы с томатным соусом и зеленью", 223, 37, 6, 2.5],
 ["Лапша удон  с кунжутным маслом и кинзой", 247, 6, 3, 47],
 ["Биточки из телятины с грибным соусом", 261, 34, 7, 10],
 ["Припущенная на пару брокколи с томатами и орехами кешью", 147, 4, 10, 12],
 ["Свежий перец фаршированный рисом и овощами, с куриным филе", 301, 19, 14, 22],
 ["Брусничный морс", 56, 0, 0, 13],
 ["Мюсли с семенами подсолнуха и вишневым киселем", 301, 8, 10, 48],
 ["Гречневая каша приготовленная на молоке, с черносливом и грецким орехом", 425, 12, 9, 76],
 ["Ломтики красных яблок с мелисой", 84, 0.41, 0.27, 22],
 ["Салат овощной с маслом", 114, 0, 10, 8],
 ["Суп в тайском стиле с креветками, мини-осьминогами и овощами", 158, 10, 2, 14],
 ["Ленивые голубцы с куриным филе и сметанным соусом", 358, 41, 13, 12],
 ["Филе атлантической трески с соусом маринара и запеченные  овощами", 145, 20, 2, 7],
 ["Фунчоза с кунжутным маслом", 230, 5, 5, 43],
 ["Куриные биточки с финиками и грибным соусом", 319, 36, 12, 12],
 ["Рисовый микс с тартаром из овощей", 233, 4.2, 1, 47],
 ["Чили кон-карн", 260, 19, 8, 25],
 ["Отварной кус-кус с лимонным соком и зеленью", 246, 4, 3, 4],
 ["Рулет из филе индейки с кабачками и брусничным соусом", 321, 30, 19, 4],
 ["Отварные пене с запеченными томатами", 256, 8, 3, 46],
 ["Отварные спагетти с зеленью", 246, 8, 3, 47],
 ["Филе атлантической трески приготовленное на пару, с соусом сальса верде", 145, 20, 2, 7],
 ["Цитрусовый напиток с мятой", 91, 1, 0, 23],
 ["Запеканка с курагой и вишневым вареньем", 350, 19, 19, 20],
 ["Молочная пшенная каша с запеченной тыквой", 290, 10.44, 2, 54],
 ["Салат из редиса и огурцов с укропом, гранатом", 189, 1, 15, 5],
 ["Биточки из оленины с куриным филе и можжевеловым соусом", 283, 35, 14, 2.5],
 ["Куриное фрикасе с вешенками и соусом терияки с кинзой", 265, 32, 6, 2],
 ["Шпинатные феттучини", 236, 6, 3, 39],
 ["Лапша соба с овощами", 259, 8.82, 4, 45],
 ["Салат из зеленой чечевицы с овощами", 252, 6, 10, 21],
 ["Рыбные биточки с соусом песто", 192, 34, 10, 1],
 ["Куриное филе в кисло-сладком соусе, с овощами и кинзой", 287, 32, 9, 12],
 ["Лапша соба с овощами", 259, 9, 4, 45],
 ["Рыбные биточки с соусом песто", 197, 34, 7, 1],
 ["Филе тилапии на пару с соусом песто и укропом", 194, 25, 9, 0],
 ["Рисовый микс со свежей зеленью", 247, 8, 3, 45],
 ["Яблочный напиток с мятой и анисом", 187, 0, 0, 48],
 ["Рисовая каша с вяленой вишней и кокосовой стружкой", 349, 5, 6, 63],
 ["Яичница с кенийской фасолью", 203, 11, 11, 1],
 ["Фруктовый салат", 110, 0, 0, 23],
 ["Зеленый салат с бобами эдамаме", 260, 11, 18, 10],
 ["Борщ-пюре", 124, 1, 6, 15.5],
 ["Куриное филе запечённое в горчично йогуртовом маринаде", 254, 32, 2, 13],
 ["Биточки из филе индейки с кабачками и моцареллой, клюквенным соусом", 284, 26, 10, 19],
 ["Кус-кус с овощным тартаром", 236, 4, 3, 0],
 ["Отварные пенне с оливками и зеленью", 243, 8, 4, 43],
 ["Филе кижуча с припущенными с овощами, кумином, оливковым маслом, каперсами и зеленью", 292, 32, 16, 5],
 ["Булгур с лимонным соком и зеленью", 244, 7, 8, 36],
 ["Филе трески запеченное в собственном соку", 194, 26, 9, 0],
 ["Отварные феттучини", 243, 7, 4, 43],
 ["Филе хека запеченное с томатами", 143, 26, 4, 1],
 ["Куриные биточки с курагой и сырным соусом", 246, 37, 6, 7],
 ["Кус-кус с овощным тартаром", 236, 4, 3, 47],
 ["Напиток из облепихи", 167, 0, 0, 36],
 ["Овсяная каша с запеченным яблоком и корицей", 322, 9, 4.8, 61],
 ["Миндальные панкейки с яблочным припеком", 294, 3.6, 13.4, 38.4],
 ["Салат из тыквы с савойской капустой и томатами", 212, 4, 14, 14],
 ["Филе индейки запеченное с розмарином", 216, 41, 4, 0],
 ["Кус-кус с запеченными томатами", 242, 5, 3, 43],
 ["Рыбные биточки с красной рыбой и укропом, томатный соус", 193, 24, 9, 2.5],
 ["Лапша удон  с кунжутным маслом и кинзой", 235, 6, 4, 37],
 ["Барли с запеченными томатами и зеленью", 240, 6, 3, 43],
 ["Отварной басмати с тартаром из овощей", 244, 7, 3, 45],
 ["Рулетики из филе тилапии с кабачками, приготовленные на пару", 214, 29, 8, 2],
 ["Куриное филе запеченное в йогуртовом маринаде", 234, 35, 4, 6],
 ["Лапша соба с овощами и зеленью", 248, 7, 5, 45],
 ["Рулет из куриного филе с кабачками и грибным соусом", 321, 30, 19, 2],
]
